<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../asset/css/styles.css">    
    <title>Les archives impériales</title>
</head>
<body>
    <form action="/register" method="get">
        <button style="position: absolute; top: 20px; right: 20px;">Creer un compte</button>
    </form>
    <div>
        <a href="/">
            <img src="../asset/img/logo.png" width="300" alt="">
        </a>
    </div>
    <div>
        <h1>
            Les Archives Impériales
        </h1>
    </div>
    <div>
        <h2>
            Connexion
        </h2>
    </div>
    <div class="form-container">
        <form action="/login_verify" method="post" class="auth-form">
            <div class="form-group">
                <label for="name">Nom</label>
                <input name="name" type="text" id="name" placeholder="Entrez votre nom" required>
            </div>
            <div class="form-group">
                <label for="password">Mot de passe</label>
                <input name="password" type="password" id="password" placeholder="Entrez votre mot de passe" required>
            </div>
            <div class="form-group">
                <button type="submit">
                    Se connecter
                </button>
            </div>
            <div class="form-messages">
                <p class="error">
                    <%=error_message%>
                </p>
                <p class="good">
                    <%=message%>
                </p>
            </div>
        </form>
    </div>
</body>
</html>