<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../asset/css/styles.css">    
    <title>Les archives impériales</title>
</head>
<body>
    <form action="/register" method="get">
        <button style="position: absolute; top: 20px; right: 20px;">Creer un compte</button>
    </form>
    <div>
        <a href="/">
            <img src="../asset/img/logo.png" width="300" alt="">
        </a>
    </div>
    <div>
        <h1>
            Les Archives Impériales
        </h1>
    </div>
    <div>
        <h2>
            Creer un compte
        </h2>
    </div>
    <div>
        <form action="/login_verify" method="post">
            <div>
                <p>
                    Nom
                </p>
            </div>
            <div>
                <input name="name" type="text">
            </div>
            <div>
                <p>
                    Mot de passe
                </p>
            </div>
            <div>
                <input name="password" type="password">
            </div>
            <div>
                <button>
                    Se connecter
                </button>
            </div>
        </form>
    </div>
</body>
</html>